
/************************ Menu ********************/

.nav-collapse .dropdown-menu a:hover,
.nav-collapse .dropdown-menu span:hover,
.navbar .dropdown-menu .active > a,.navbar .dropdown-menu .active > a:hover{
	text-shadow: 0 0 0 @dropdownLinkColorHover,0 0 0 @dropdownLinkColorHover;
}

#footer a:hover{
	color: red;
}
.hero-unit h1 {
	color: #E38686;
}

.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled]{
	background-color: #BF2C2C;
}
.pager a, .pager span{
	background-color: #D03638;
	color: #E38686;
}
