

.hero-unit h1 {
	color: @heroUnitHeadingColor;
}
.readmore a,
.readmore a:hover{
	background-image: url('../images/arrow-purple.png');
}

.pager a, .pager span{
	background-color: @color_two;
	color: @heroUnitHeadingColor;
}
.pager a:hover,.pager span:hover{
	background-color: @color_five;
}

.module {
	.nav,
	.nav.nav-stacked {
		> li {
			&.active {
				> a:hover,
				> a:focus {
					color: @white;
					[class^="icon-"],
					[class*=" icon-"] {
						color: @white;
					}
					.caret {
						border-top-color: @white;
					}
				}
			}
		}
	}
}
