#menuWidth {
	.core (@gridColumnWidth, @gridGutterWidth) {
		.span (@columns) {
		  width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
		}

		.wrapper-menu { .span(@gridColumns); }
	}
}

@media(min-width:1200px){
	#menuWidth > .core(@gridColumnWidth1200, @gridGutterWidth1200);
}

/* Phones and tablets */
@media (max-width: 979px){
  	.wrapper-menu {
  		width: auto;
  		border: 0;
  		padding: 0;

  		.container {
  			margin: 0;
			width: auto;
			padding: 0;
  		}
  	}

	.custom_ms2 i,
	.custom_ms2 h2{
		font-size: 1.5em;
	}

	.navbar-inner {
		margin: 0;
	}

	.content-wrapp{
		margin-right: 0;
		margin-left: 0;
	}

	.nav,
	.navbar-inner,
	.nav .navbar-inner,
	.navbar .nav,
	.navbar .nav .navbar-inner {
		margin: 0 auto;
		border: 0;
		.nav-collapse {
			border: 0;
		}
		.btn-navbar {
			background-color: transparent;
			background-image: none;
			filter: none;
			border: 0;
			box-shadow: none;
			margin-right: 20px;
			.icon-bar {
				width: 40px;
			}
		}
		li {
			list-style: none;
			> a {
				border-bottom: 1px solid @dropdownBackground;
				&:hover,
				&:focus {
					background-color: @dropdownBackground;
				}
			}
			.dropdown-menu {
				border: 0;
				li {
					border: 0;
					> a {
						&:hover,
						&:focus {
							background-color: @dropdownBackground;
						}
					}
				}
			}
		}
	}

	#toolbar {
		.nav,
		.navbar-inner,
		.nav .navbar-inner,
		.navbar .nav,
		.navbar .nav .navbar-inner {
			width: auto;
			margin: 0 auto;
			.container {
				width: auto;
				border: 0;
			}
			.nav-collapse {
				margin: 0;
			}
		}

		.nav-collapse {
			border: 0;
		}

		.container{
			padding: 0;
		}

		.navbar-inner {
			border-bottom: 1px solid @color_three;
		}
	}

	#menu {
		margin: 0;
		.navbar {
			margin: 0;
		}

		.navbar-inner {
			margin: 0;
		}
	}

	#menu, #toolbar {
		.nav > li > a {
		    text-shadow: none;
		    font-size: 16px;
		    padding: 10px 30px;
		}
		.nav,
		.navbar-inner,
		.nav .navbar-inner,
		.navbar .nav,
		.navbar .nav .navbar-inner {
			> li > a {
				border: 0;
			}

			li.dropdown .dropdown-menu {
				border: 0 !important;
				li {
					border: 0;
				}
				> li > a {
					padding: 9px 15px;
				}
			}
		}
	}

	.navbar .nav > li {
		padding: 0;

		&:before {
			display: none;
			content: none;
		}
	}

	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
		font-weight: normal;
		padding: 9px 15px;
	}

}

/* Phones */
@media(max-width:767px){

	.container.container-border,
	body footer > div.container {
		margin-left: 20px;
		margin-right: 20px;
	}

	#sidebar1, #sidebar2{
		border: 0 none;

		.moduletable_ms1{
			padding:0;
		}

		.moduletable_ms2{
			margin-left: 0;
			margin-right: 0;
		}
	}

	#header{
		text-align: center;
	}

	.wrapper-menu {
		width: auto;
	}
	.menu-background {
		margin-left: -20px;
		margin-right: -20px;
	}
	.wrapper-bottom-menu,
	#header{
		margin-left: -20px;
		margin-right: -20px;
		.container {
			margin: 0 20px;
		}
	}

	.module, .moduletable, .moduletext, #top > div {
		padding: 0;
	}

	#toolbar, #header, #menu, #featured, #grid-top, #main-content, #above-content, #breadcrumbs, #grid-bottom, #grid-bottom2, #bottom-menu {
		margin-bottom: 0;
	}
	.wrapper-container-featured{
		margin-left: -20px;
		margin-right: -20px;
		width: auto;
	}

	.content-wrapp{
		margin-left: 0;
		margin-right: 0;

		> .row , > .row-fluid{
			display: block;
		}
	}

	/* nosp-mobile styles */

	.nosp-mobile.span12 {
	    width: 100%;
	}
	.nosp-mobile.span11 {
	    width: 91.453%;
	}
	.nosp-mobile.span10 {
	    width: 82.906%;
	}
	.nosp-mobile.span9 {
	    width: 74.359%;
	}
	.nosp-mobile.span8 {
	    width: 65.812%;
	}
	.nosp-mobile.span7 {
	    width: 57.265%;
	}
	.nosp-mobile.span6 {
	    width: 48.7179%;
	}
	.nosp-mobile.span5 {
	    width: 40.1709%;
	}
	.nosp-mobile.span4 {
	    width: 31.6239%;
	}
	.nosp-mobile.span3 {
	    width: 23.0769%;
	}
	.nosp-mobile.span2 {
	    width: 14.5299%;
	}
	.nosp-mobile.span1 {
	    width: 5.98291%;
	}

	[class*="span"].nosp-mobile {
		float: left;
		margin-left: 1%
	}

	.is_internet.v_8,
	.is_internet.v_9{
		.content-wrapp{
			overflow: visible;
			> .row , > .row-fluid{

				> [class*="span"]{
					float: none;
				}
				#sidebar1,
				#sidebar2{
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}

}

/* Wide screens */
@media(max-width:1200px){
	aside #mod-search-searchword{
		clear: both;
		display: block;
	}
}
